.form-inline
  = form_for(:session, url: sessions_path) do |f|
    = f.text_field :email, placeholder: 'Enter e-mail'
    = f.password_field :password, placeholder: 'Enter password'
    = f.submit "Sign in", class: "btn btn-success"
  %p
    Not an user? #{link_to "Sign up now!", "#signup", "data-toggle" => "modal"}
