- provide :title, 'Sign in'
.center.hero-unit
  %h2 Sign in
  = form_for(:session, url: sessions_path) do |f|
    -# = render 'shared/error_messages'
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    = f.submit "Sign in", class: "btn btn-info"
  %p
    New user? #{link_to "Sign up now!", signup_path}