- provide(:title, @user.name)
.center.hero-unit
  %h4
    = @user.name
  - if @user.microposts.any?
    %h5
      Posts (#{@user.microposts.count})
    %ol.microposts
      = render @microposts
    = link_to "Click to post", root_url  
    = will_paginate @microposts