!!!
%html
  %head
    %title
      = full_title yield :title
    = render 'layouts/meta'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    = render 'layouts/slider' if !signed_in?
    %section#bodySection
      = render 'shared/error_messages'
      #sectionTwo
        .container
          .row{:style => "text-align:left"}
            = yield
    = render 'layouts/footer'